<% provide(:title, 'Sign up') %>
<div class="main">
  <div class="form-box">
    <h1 class="font-style">Samplegram</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with url: login_path, scope: :session, local: true, class: 'form-margin' do |f| %>
          
          <%= f.text_field :user_name, :placeholder => "ユーザーネーム", class: 'form-control' %>
          
          <%= f.password_field :password, :placeholder => "パスワード", class: 'form-control' %>
          
          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>Remember me on this computer</span>
          <% end %>
          
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
        <%= link_to user_facebook_omniauth_authorize_path, class: "facebook-login" do %>
          <span class="fab fa-facebook-square"></span>
          <span class="facebook-login-txt">Facebookでログイン</span>
        <% end %>
        <div class="forget-pass-link">
          <%= link_to "パスワードを忘れた場合", new_password_reset_path %>
        </div>
        <p class="acount-link">
          アカウントをお持ちでないですか？
          <%= link_to "登録する", signup_path %> 
        </p>
      </div>
    </div>
  </div>
</div>