<% provide(:title, 'Reset password') %>
<div class="main">
  <div class="form-box">
    <div class="lock-icon">
      <i class="fas fa-unlock fa-5x"></i>
    </div>
    <h1 class="cant-login">パスワード再設定</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @user, url: password_reset_path(params[:id]),
                  local: true) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= hidden_field_tag :email, @user.email %>
          
          <%= f.password_field :password, :placeholder => "パスワード", class: 'form-control' %>
          
          <%= f.password_field :password_confirmation, :placeholder => "パスワードの確認", class: 'form-control' %>
          
          <%= f.submit "パスワードを更新する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>