<% provide(:title, "Edit") %>
<div class="main">
  <div class="form-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <%= @user.user_name %>
        </div>
        <%= link_to "プロフィール写真を変更", "https://gravatar.com/emails", class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        
        <%= form_with model: @user, local: true, class: "top-control" do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label :name %>
          <%= f.text_field :name, :placeholder => "名前", class: 'form-control' %>
          <p class="edit-explanation">
            周りから知られている名前（氏名、ニックネーム、ビジネス名）を使用すると、他の人があなたのアカウントを見つけやすくなります。
          </p>
          
          <%= f.label :user_name %>
          <%= f.text_field :user_name, :placeholder => "ユーザーネーム", class: 'form-control' %>
          
          <%= f.label :website %>
          <%= f.text_field :website, :placeholder => "ウェブサイト", class: 'form-control' %>
          
          <%= f.label :profile %>
          <%= f.text_area :profile, :placeholder => "自己紹介", class: 'form-control' %>
          
          <div class="edit-explanation">
            <span>非公開情報</span>
            <span>アカウントがビジネス、ペットなどに使用されている場合でも、個人の情報を入力してください。これは公開プロフィールでは表示されません。</span>
          </div>
          
          <%= f.label :email %>
          <%= f.email_field :email, :placeholder => "メールアドレス", class: 'form-control' %>
          
          <%= f.label :phone_number %>
          <%= f.telephone_field :phone_number, :placeholder => "電話番号", class: 'form-control' %>
          
          <%= f.label :sex %>
          <%= f.select :sex, User.sexes_i18n.keys.map {|k| [User.sexes_i18n[k], k]}, {}, autofocus: true, :placeholder => "性別", class: 'form-control' %>
          
          <%= f.submit "送信する", class: "btn btn-primary" %>
          
          <% if current_user?(@user) %>
          <div class="destroy-txt">
            <%= link_to "アカウントを削除する", @user, method: :destroy, data: { confirm: "本当に削除しますか？" } %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>