<% provide(:title, 'Sign up') %>
<div class="main">
  <div class="form-box">
    <h1 class="font-style">Samplegram</h1>
    <p class="gray">登録して友達の写真や動画をチェックしよう</p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with model: @user, local: true, class: "form-margin" do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.text_field :name, :placeholder => "フルネーム", class: 'form-control' %>
          
          <%= f.text_field :user_name, :placeholder => "ユーザーネーム", class: 'form-control' %>
          
          <%= f.email_field :email, :placeholder => "メールアドレス", class: 'form-control' %>
          
          <%= f.password_field :password, :placeholder => "パスワード", class: 'form-control' %>
          
          <%= f.password_field :password_confirmation, :placeholder => "パスワードの確認", class: 'form-control' %>
          
          <%= f.submit "登録する", class: "btn btn-primary" %>
        <% end %>
        <p class="acount-link">
          アカウントをお持ちですか？
          <%= link_to "ログインする", login_path %>
        </p>
      </div>
    </div>
  </div>
</div>