<% provide(:title, @user.name) %>
<div class="main">
  <div class="row">
    <aside class="col-md-6 col-md-offset-3">
      <section class="gravatar_edit">
        <%= gravatar_for @user, size: 70 %>
        <%= @user.user_name %>
        <%= link_to "プロフィールを編集", edit_user_path,
                      class: "btn btn-outline-dark common-btn edit-profile-btn" %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <%= render 'follow_form' if logged_in? %>
  </div>
</div>