<% @user ||= current_user %>
<div class="stats">
  <div class="number-posts">
    <strong><%= current_user.posts.count %></strong>
    <span>投稿</span>
  </div>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <span>フォロワー</span>
  </a>
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <span>フォロー中</span>
  </a>
</div>