<% provide(:title, "Hashtags") %>
<div class="hashtag-post-wrap">
  <% if params[:name] == nil %>
  <% else %>
    <h3 class="search-title">#<%= @hashtag.hashname %>:  <%= @post.count %> 件 </h3>
    <div class="row">
      <% @post.each do |post| %>
        <div class="col-md-6">
          <div class= "hashtag-post-box">
            <%= link_to post_path(post) do %>
              <div class="hashtag-post-header">
                <%= link_to user_path(post.user) do %>
                  <div class="hashtag-profile-icon">
                   <%= gravatar_for post.user, size: 40 %>
                  </div>
                <% end %>
                <%= link_to user_path(post.user), class: "black-color",
                        title: post.user.name do %>
                  <strong class="hashtag-user-name"><%= post.user.name %></strong>
                <% end %>
              </div>
              <div class="hashtag-post-image">
                <%= link_to(post_path(post)) do %>
                  <%= image_tag post.hashtag_image if post.image.attached? %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %> 
  <hr class="hashtag-hr">
  <div class="row">
    <div class= "col-xs-12 col-lg-12 col-md-12 col-sm-12">
      <div class= "hashtag-name">
        <% @hashtags.sort.reverse.each do |count| %>
          <% count[1].each do |hashtag| %>
            <p class="hashtag-name-margin">
              <%= link_to "##{hashtag.hashname} (#{hashtag.posts.count})","/post/hashtag/#{hashtag.hashname}" %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

