<% provide(:title, 'Post') %>
  <div class="main">
      <div class="row">
        <aside class="col-md-6 col-md-offset-3">
          <section class="user_info">
            <%= image_tag avatar_url(current_user), class: "post-profile-icon" %>
            <h1><%= current_user.user_name %></h1>
            <%= link_to "プロフィールを見る", current_user, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
            <%= pluralize(current_user.posts.count, "投稿") %>
          </section>
          <section class="photo_form">
            <%= form_with model: @post, local: true do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="field">
                <%= f.text_field :caption, class: "form-control border-0", placeholder: "キャプションを書く" %>
              </div>
              <span class="image">
                <%= f.fields_for :photos do |i| %>
                  <%= i.file_field :image %>
                <% end %>
              </span>
              <%= f.submit "投稿", class: "btn btn-primary" %>
            <% end %>
          </section>
        </aside>
      </div>
    </div>
  </div>